---
import { Icon } from "astro-icon";
import { COMMUNITY } from "../settings";
---

<div>
  <h2 class="font-bold mb-2 select-none leading-6">Community</h2>

  <ul>
    {
      COMMUNITY.map((item) => (
        <li class="flex gap-2 items-center">
          <a
            target="_blank"
            rel="nofollow noopener noreferrer"
            href={item.link}
            class="pl-4 space-x-reverse transition border-l-2 dark:border-slate-700 duration-200 ease-out pt-1 pb-1 leading-5 text-theme-text-lighter no-underline bidi-override text-base w-full inline-flex gap-2 text-slate-600 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-100 hover:underline"
          >
            <div class="flex gap-2 items-center">
              <Icon class="w-4 h-4 cursor-pointer" name={item.icon} />
              {item.title}
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</div>
