---
---

<div class="mb-48 mt-24">
  <span class="flex items-center rounded-md select-none bg-slate-200 dark:bg-slate-800 p-2 text-slate-500 dark:text-slate-400">
    <span class="text-xs font-semibold">Powered by</span><span
      class="rounded-md p-1 dark:text-slate-400"
    >
      NODE-TEC</span
    >
  </span>
</div>
