---
import { getCollection } from "astro:content";
import DocNavigation from "./DocNavigation.astro";

type Props = {
  currentPage: string;
};

const { currentPage } = Astro.props;

const parts: string[] = currentPage.split("/");
const result: string = parts.slice(0, 4).join("/");

const metaData = await getCollection("docs", ({ id }) => {
  return id.endsWith("index.md") && id.startsWith(result.slice(1));
});

let folders = metaData.map((folder: any) => {
  return {
    id: folder.id.split("/").slice(0, -1).join("/"),
    label: folder.data.label,
    slug: `${folder.slug}`,
    order: folder.data.order,
  };
});

folders.sort((a, b) => a.order - b.order);

const docs = await getCollection("docs", ({ id }) => {
  return !id.endsWith("index.md") && id.startsWith(result.slice(1));
});
---

<nav class="relative mt-10 px-8 pr-3 lg:text-sm lg:leading-6">
  <ul
    class="h-full max-h-screen overflow-x-visible last:mb-24 last:pb-8"
  >
    {
      folders.map((folder: any) => (
        <DocNavigation folder={folder} currentPage={currentPage} files={docs} />
      ))
    }
  </ul>
</nav>
