---
const { prev, next } = Astro.props;
---

<div class="flex w-full justify-between md:mt-24">
  {
    prev && (
      <a
        class="mr-auto rounded-xl border-2 border-slate-600 px-4 py-2 text-sm no-underline"
        href={`/${prev.slug}`}
      >
        {/* Prev */}
        {prev.data.label}
      </a>
    )
  }
  {
    next && (
      <a
        class="ml-auto flex items-center rounded-xl border-2 border-slate-600 px-4 py-2 text-sm no-underline"
        href={`/${next.slug}`}
      >
        {/* Next */}
        {next.data.label}
      </a>
    )
  }
</div>
