---
import { SunIcon, MoonIcon } from "@heroicons/react/24/outline";
---

<button class="justify-center items-center rounded-full hidden lg:flex">
  <!-- <Icon class="w-5 h-5 text-white hover:text-orange-400" name="ph:sun" /> -->
  <!-- <Icon class="w-7 h-7 text-orange-500" name="ph:sun" /> -->
  <!-- <SunIcon className="h-6 w-6 text-orange-500" aria-hidden="true" /> -->
  <MoonIcon className="h-6 w-6 text-purple-500" aria-hidden="true" />
  <!-- <span cass="text-white">|</span> -->
  <!-- <Icon class="w-5 h-5 text-white hover:text-violet-400" name="ph:moon" /> -->
</button>
